[user]
	email = bradley@vektor.nyc
	name = Bradley Cicenas
[core]
	editor = vim
	pager = cat
[push]
	default = simple
[alias]
	recommit = commit --amend -C HEAD
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	statusall = "submodule status --recursive"
	checkoutall = "!f(){ git submodule foreach \"git checkout $1\" && git checkout $1; }; f"
