[user]
	email = bradley@vektor.nyc
	name = Bradley Cicenas
[core]
	editor = vim
	pager = cat
[push]
	default = simple
[alias]
	br = branch -r --sort=-committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	recommit = commit --amend -C HEAD
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	statusall = "submodule status --recursive"
	checkoutall = "!f(){ git submodule foreach \"git checkout $1\" && git checkout $1; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	context = 5
